{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="announcement-bar" data-enable_rotate="{{section.settings.enable_rotate}}" data-rotate_time="{{section.settings.rotate_time}}">
      <div class="AnnouncementBar">
        <div class="AnnouncementBar__Wrapper">
          {% if section.blocks.size > 0 %}
            {%- for block in section.blocks -%}
            <p class="AnnouncementBar__Content Heading">
              {%- if block.settings.link -%}
                <a href="{{ block.settings.link }}">{{ block.settings.content | escape }}</a>
              {%- else -%}
                {{ block.settings.content | escape }}
              {%- endif -%}
            </p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>

    <style>
      #section-{{ section.id }} {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
      }
    </style>

    <script>
      document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-announcement').offsetHeight + 'px');
    </script>
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_rotate",
      "label": "Enable rotate",
      "default": false
    },
    {
      "type": "text",
      "id": "rotate_time",
      "label": "Rotate time(ms)",
      "default": "1500"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Text",
          "default": "20% Off Site Wide with: GIVETHANKS20 Through 11/16"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}